{% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
        {% if lang == site.default_lang %}
<a href="{{ site.test }}/{{ lang }}{{ page.url }}">{{ lang_name }}</a>
        {% else %}
<a href="{{ site.test }}{{ page.url }}">{{ lang_name }}</a>
        {% endif %}
    {% else %}
        {% if lang == site.default_lang %}
<a href="{{ site.test }}{{ page.url }}">{{ lang_name }}</a>
        {% else %}
<a href="{{ site.test }}/{{ lang }}{{ page.url }}">{{ lang_name }}</a>
        {% endif %}
    {% endif %}
{% endfor %}
